<div [ngClass]="setClasses()">
  <li class="list-group-item">
    <div class="row">
        <div class="col-1">
            <input 
              type="checkbox" 
              (change)="onToggle(todo)" 
              [checked]="todo.completed" />
        </div>
        <div class="col-9">
            {{ todo.title }}
        </div>
        <div class="col-2">
          <button type="button" (click)="onDelete(todo)" class="btn btn-danger btn-sm float-right">X</button>
        </div>
    </div>
  </li>
</div>